---
AccessModifierOffset: -3
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 3
PointerAlignment: Right
QualifierAlignment: Right
SortIncludes: false
Standard: Cpp11
TabWidth: 3
UseTab: ForIndentation