---
AccessModifierOffset: -3
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
ContinuationIndentWidth: 3
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 3
PointerAlignment: Right
QualifierAlignment: Right
SortIncludes: false
Standard: Cpp11
TabWidth: 3
UseTab: ForContinuationAndIndentation