@import "../../node_modules/bootstrap/scss/functions";
@import '../../node_modules/bootstrap/scss/variables.scss';

.react-flow__handle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
    background-color: $gray-800;
    border-width: 2px;
    border-style: solid;
}

.react-flow__handle.connecting {
    background-color: $red;
}

.react-flow__handle.connected {
    background-color: $blue;
}

.react-flow__handle-left {
    left: -4px;
}

.react-flow__handle-right {
    right: -4px;
}

path.react-flow__edge-path, path.react-flow__connection-path {
    stroke-width: 3px;
}

.react-flow__node.selected > .node {
    border-color: $gray-900;
}

.node {
    padding: 16px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
}