@import "../../node_modules/bootstrap/scss/functions";
@import '../../node_modules/bootstrap/scss/variables.scss';

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-in-backdrop {
    from { opacity: 0; }
    to   { opacity: $modal-backdrop-opacity; }
}

.save-modal {
    margin-top: 8vh;
    margin-bottom: 40vh;
    margin-left: 65vw;
    margin-right: 100vw;
}

.save-modal .modal-content {
    height: 15vh;
    width: 15vw;
    animation-duration: 250ms;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
}

.modal-backdrop {
    animation-duration: 125ms;
    animation-name: fade-in-backdrop;
    animation-timing-function: ease-in-out;
}