.notification-toasts {
    margin: 16px;
}

.toast-container.notification-toasts > :not(:last-child) {
    margin-bottom: 16px;
}

.toast-body {
    br {
        content: " ";
        display: block;
        margin: 8px 0;
    }
}