* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Toolbar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Palette {
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.BlockNode {
  border: black 1px solid;
  padding: 16px;
  background-color: #0c0910;
  color: white;
}

button {
  font: Inter;
  font-size: 13px;
}

.exportModal {
  position: absolute;
  inset: 64px;
  border: 1px solid #9e9e9e;
  background: white;
  overflow: auto;
  border-radius: 4px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}